{% extends 'core/base.html' %}
{% load widget_tweaks %}
{%load static%}
{%block content %}

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Actualizar</h1>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- /.col-md-6 -->
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
                <h2><span class="txt_negrita">Nombre:</span> {{ object.nombre }}</h2>
                <h2><span class="txt_negrita">Color:</span> {{ object.color }}</h2>
                <p><span class="txt_negrita">Imagen:</span> <img src="{{ object.img.url }}" alt="{{ object.nombre }}" class="img-fluid" width="50%">
                </p>
                <p><span class="txt_negrita">Creado:</span> {{ object.created }}</p>
                
                <!-- Botón para volver a la vista principal (Home) -->
                <a href="{% url 'leer' %}" type="submit" class="btn btn-primary">Volver</a>
            </div>
            
        </div>

    </div>
<!-- /.col-md-6 -->
</div>

<!-- /.row -->
</div><!-- /.container-fluid -->

</div>
<!-- /.content -->
</div>

<!-- /.content-wrapper -->
</div>
{% endblock %}
